@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #fafaf9;
	--color-primary-100: #f5f5f4;
	--color-primary-200: #e7e5e4;
	--color-primary-300: #d6d3d1;
	--color-primary-400: #a8a29e;
	--color-primary-500: #78716c;
	--color-primary-600: #57534e;
	--color-primary-700: #44403c;
	--color-primary-800: #292524;
	--color-primary-900: #1c1917;
}

@source "../node_modules/flowbite-svelte/dist";
