DATABASE_FILE=./db.db
BACKUP_DIR=./backup/
IMPORT_DIR=./import/
BACKUP_SCHEDULE=0 0 * * *
ALLOW_SIGNUP=true
DB_QUERY_LOG=false
POSTGRES_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Redis Configuration for BullMQ
REDIS_HOST=valkey
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0